@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Prompt&family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.hero-section{
    position: absolute;
    z-index: -1;
    top: 0;
    left:0;
    width: 100%;
    height: calc(100% + 50px); 
    background-size: cover;
    background: url("../img/bg image.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content{
    margin-top: 50px;
    position: relative; 
    z-index: 1; 
}
.brand_name{
    font-family: 'Prompt';
    text-transform: uppercase;
}
.bnd-name-size{
    font-size: 50px;
}
.mgn-brand{
    margin-left: 0;
}
.auth-mgn{
    margin-right: -60px;
}
.tagline{
    font-family: 'Caveat';
    margin-top: 60px;
    font-size: 40px;
}
.vis{
    margin-top: 200px;
}

.capsurelogo{
    height: 50px;
    width: 82px;
    margin-left: -100px;
    margin-right: 0;
}
body{
    background-color: #ffffff;
    font-family: 'Poppins';
}
.nav-link{
    color: #221459;
    font-weight: 33px;
}
.navbar-nav .active{
    border-bottom: #FFF61F solid 3px;
}

.loginbutton{
    background-color: #221459;
    color: #ffffff;
    font-family: 'Poppins';
    text-transform: uppercase ;
    border: rgb(131, 128, 128) solid 1px;
}

.lgn-p{
    padding-left: 148px;
    padding-right: 148px;
}
.fg-m{
    margin-left: 65px;
    margin-right: 65px;
}
.signbutton{
    background-color: #FFF61F;
    color: #221459;
    font-family: 'Poppins';
    text-transform: uppercase ;
    border: rgb(131, 128, 128) solid 1px;
}

.btn-dark-purple{
    background-color: #221459;
    color: #ffffff;
}

.txt-color{
    color: #221459;
}
.bor{
    border: #9884e9 solid 1px;
}
.bor2{
    border-bottom: #9884e9 solid 1px;
}
.lgn-mgn {
    margin-top: 130px;
    margin-bottom: 130px;
}

.avl-color{
    color: green;
}
.navl-color{
    color:red;
}
.mgn-ser{
    margin-left: 1130px;
}

.navbar-nav .form-inline {
    width: 140%;
}

.navbar-nav .form-inline .form-control {
    width: 50%;
}

/* Profile Stylesheets*/
.profile-size{
    width: 320px;
    height: 300px;
    border: gray solid 0.5px ;
}
.fnt-style{
    font-family: 'Poppins';
    color: #66645E;
}
.opac{
    opacity: 12%;
}
.ltr-spng{
   letter-spacing: 0.3em;
}
.carousel-size{
    width: 670px;
    height: 493px;
}
.brd-trans{
    border-color: white;
}
.btn-avail{
    color: green;
    border: gray solid 1px;
}
.text-blue{
    color: #221459;
}
.profile-font{
    font-family: 'Raleway';
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

/* Chat Styles */

.profile-pic-size{
    width: 30px;
    height: 20px;
}

/*Appointment Style */
.btn-red{
    background-color: #D21010;
    color: #ffffff;
}
.btn-aqua{
    background-color: #023047;
    color: #ffffff;
}
.app-fnt{
    font-family: 'Poppins';
}
.border-black{
    border: #66645E solid 1px;
}
