@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');




.bg-gradient{
    background-image: linear-gradient(to right, #C939E6, #4AD8CE);
}

.brand{
    font-family: 'Raleway';
    color: white;
    
}